@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: url('C:\Users\mclau\Documents\Web\robo\public\SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    font-size: 3rem;
    color: #0ccac4;
}